NEXT_PUBLIC_WALLET_CONNECT_ID = 
NEXT_PUBLIC_VITE_PROTECTED_DATA_DELIVERY_WHITELIST_ADDRESS = 
NEXT_PUBLIC_VITE_PROTECTED_DATA_DELIVERY_DAPP_ADDRESS = 
NEXT_PUBLIC_VITE_DEMO_WORKERPOOL_ADDRESS = 
POSTGRES_PRISMA_URL = 
POSTGRES_URL_NON_POOLING = 
